@model  BirthDayCardGenerator1.Models.ResponseForm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.scss" />
    <title>Birthday Card Sent</title>
</head>
<body>
    <h4>Birthday Card Generator</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Birthday Card Sent</h4>
                <div class="form-group">
                    <label asp-for="Sender" class="control-label">From:@Model.Sender</label>

                </div>

                <div class="form-group">
                    <label asp-for="Recipient" class="control-label">To:@Model.Recipient</label>
                </div>

                <div class="form-group">
                    <label asp-for="Message" class="control-label">Message:@Model.Message</label>
                </div>
        </div>
    </div>
</body>
</html>

